@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

$header: #222;
$white: #fff;

$black: #000;
$grey: #646969;
$light-grey: #EBF4F4;
$brown: #8F512B;
$green: #005133;
$copper: #BC4D2A;

$font1: 'Kaushan Script', cursive;