*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    list-style: none;
    text-decoration: none;
}



@mixin center($direction: row, $justify: center, $aling: center, $text: center, $gap: 0){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aling;
    text-align: $text;
    gap: $gap;
}

@mixin title($font: $font1, $size: 1rem, $color: $white, $aling: center, $margin-left:0, $margin-right: 0 ){
    font-family: $font;
    font-size: $size;
    color: $color;
    text-align: $aling;
    margin-left: $margin-left;
    margin-right: $margin-right;
}

@mixin respond-to($breakpoint) {
    @media screen and (max-width: $breakpoint) {
      @content;
    }
  }