*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    list-style: none;
    text-decoration: none;
}



@mixin center($direction: row, $justify: center, $aling: center, $text: center, $gap: 0){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aling;
    text-align: $text;
    gap: $gap;
}

@mixin title($font: $font1, $size: 1rem, $color: $white, $aling: center, $weight: normal, $margin-left:0, $margin-right: 0 ){
    font-family: $font;
    font-size: $size;
    color: $color;
    text-align: $aling;
    font-weight: $weight;
    margin-left: $margin-left;
    margin-right: $margin-right;

    /*
        fonte
        tamanho
        cor
        alinhamento
        grossura
        margin left
        margin right
    */
}

@mixin respond-to($breakpoint) {
    @media screen and (max-width: $breakpoint) {
      @content;
    }
}

@mixin black-button(){
    width: 12rem;
    height: 2.5rem;
    border: none;
    background: $new-black;
    font-weight: 300;
    color: $white;
    transition: 1s all;
    background-image: linear-gradient(to right, $new-black 50%, $white 50%);
    background-size: 200%, 100%;
    background-position: left bottom;
    cursor: pointer;

    &:hover{
        background-position: right bottom;
        color: $new-black;
    }
}

@mixin black-transparent(){
    width: 12rem;
    height: 2.5rem;
    border: 2px solid $white;
    background: transparent;
    font-weight: 300;
    color: $white;
    transition: 1s all;
    background-image: linear-gradient(to right, transparent 50%, $white 50%);
    background-size: 200%, 100%;
    background-position: left bottom;
    cursor: pointer;

    &:hover{
        background-position: right bottom;
        color: $black;
    }
}