@import "../../_VARIABLES/colors.scss";
@import "../../_VARIABLES/mixings.scss";



html{
    padding-bottom: 7rem;
    background-color: $newBg;
}

header{
    position: fixed;
    bottom: 1rem;

    width: 100%;
    height: 4rem;
    background-color: $new-bar;
    border-radius: 5rem;

    .container{
        position: absolute;
        width: 100%;
        height: 4rem;
        border-radius: 5rem;

        .itens{
            @include  center(row, space-around, center, center);
            width: 100%;
            height: 4rem;
            border-radius: 5rem;

            i{
                color: $white;
                padding: 1rem;
                border-radius: 50%;

                &.active{
                    background-color: $brown;
                }
            }
        }
    }
}

main{
    @include center(column, center, center, center, 5rem);
    width: 100%;
    box-sizing: border-box;
}

article{
    @include center(column, center, center, center);
    max-width: 60rem;
    width: 100%;
    height: 100%;
    padding: 0 3rem;

    .container-slide{
        margin-bottom: 2rem;
        //position: relative;
        width: 70%;
        height: 38vh;
        overflow: hidden;

        &::before{
            content: 'Art de Quebrada';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 3rem;
            z-index:1;
            font-family: $font1;
            font-size: 2rem;
            color: $white;
        }
        
        .container-item{
            //position: absolute;
            // overflow: hidden;
            display: flex;
            width: 100%;
            height: 100%;

            transition: transform 0.5s ease-in-out;
            .item{
                flex: 0 0 100%; /* alterar caso adicione novas fotos) */
                min-width: 100%;
                height: 100%;

                img{
                    width: 100%;
                    height: 100%;
                    border-radius: .3rem;
                }
            }
        }
    }

    .container-article{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 5rem;

        .text p{
            @include title($fontText, 1.5rem, $white, justify, 500, 0, 0);
            padding: .8rem;
        }

        .container-addres{
            @include center(row, center, flex-start , center);

            .item{
                width: 100%;
                font-family: $fontText;

                h3{ @include title($fontText, 1.3rem, $white, center, 500, 0, 0); }

                p{ @include title($fontText, .9rem, $white, center, 500, 0, 0); }

                a{
                    color: $white;
                }
                
            }
        }
    }

    @media (max-width: 700px){
        padding: 0;

        .container-slide{
            width: 100%;

            border-radius: 0 0 1rem 1rem;
        }

        .container-article .container-addres{
            flex-direction: column;
            gap: 1rem;
        }

        .container-article .text p{
            font-size: 1rem;
        }
    }
}

section{
    @include center(column, center, center, center, 1rem);
    width: 100%;
    height: 100%;
    
    .container-servicos{
        @include center(column, center, center, center, 3rem);
        width: 100%;
        height: 50vh;
        background: url(../../IMAGES/scissors.jpg) no-repeat 50% 50%;
        background-size: cover;
    
        h1{
            @include title($font1, 2rem, $black, center, 500, 0, 0);
        }
    
        .container-itens{
            @include center(column, space-between, center, center, 1rem);
            width: 100%;
    
            .item{
                width: 100%;
                border-top: 2px solid black;
                border-bottom: 2px solid black;
                background-color: transparent;
                cursor: pointer;
    
                .visible{
                    @include center(row, space-between, center, center);
                    margin: .5rem 1rem;
    
                    i{
                        font-size: 1.5rem;
                    }
                }
    
                .hidden{
                    display: none;
                    p{
                        align-items: justify;
                        width: 100%;
                        font-size: 1rem;
                        margin-top: 1rem;
                    }
                }
            }
            
        }
    }

    .buttons{
        @include center(row, space-between, center, center, 2rem);

           button{
            @include black-transparent();
            margin-top: 2rem;
            
            &:nth-child(2){
                @include black-button();

                a{
                    color: $white;
                    transition: all .5s;

                    &:hover{
                        color: $black;
                        transition: all .5s;
                    }
                }
            }
            
            a{
                color: $white;
                transition: all .5s;

                &:hover{
                    color: $black;
                    transition: all .5s;
                }
            }
        } 
        
        @media (max-width: 700px){
            flex-direction: column;
            gap: 0;
        }
            
    }


}

section.map{
    width: 100vw;
    height: 100%;
}
