@import "../../_VARIABLES/colors.scss";
@import "../../_VARIABLES/mixings.scss";


header{
    position: relative;
    background-color: $header;
    height: 10vh;
    width: 100%;
    
    .navdesktop{
        @include center(row, space-around, center, center);
        width: 100%;
        height: 100%;
        color: $white;

        h1{ @include  title($font1, 2rem, $white, center); }


        ul{
            @include center(row, center, center, center, 5rem);

            li a{ @include title($font1, 1.5rem, $white, center); }
        }
    }

    .mobile{
        @include center(column, space-around, center, center);
        width: 5rem;
        height: 20rem;
        position: fixed;
        top: 1.5rem;
        left: 1rem;
        display: none;
        transition: all .5s ease-in-out;
        overflow: hidden;

        @include respond-to(450px) {
            top: 6rem;
            left: 0;
            transition: all .5s ease-in-out;
        }
        
        .menu{
            @include center(column, space-around, center, center);
            position: absolute;
            top: 0rem;
            left: 0rem;
            border-radius: .3rem;
            background: $header;
            color: $white;
            width: 100%;
            height: 2rem;
            cursor: pointer;
            z-index: 5;
            user-select: none;
        }

        .menu-mobile{
            position: absolute;
            top: -10rem;
            left: 0rem;
            width: 100%;
            height: 15rem;
            transition: all 1s;
            visibility: hidden;
            opacity: 0;

            ul{
                @include center(column, space-around, center, center);
                width: 100%;
                height: 100%;

                li, li a{ 
                    @include title($font1, 1rem, $white, center);
                    @include center(column, space-around, center, center);
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    transition: all .5s ease-in-out;

                    &:hover{
                        background-color: $brown;
                        transition: all .5s ease-in-out;
                    }
                }

            }

            &.active{
                top: 1.8rem;
                background: blue;
                border-radius: .3rem;
                transition: all 1s;
                visibility: visible;
                opacity: 1;
            }
        }
    }

    @media (max-width: 1100px){

        .navdesktop ul{
            display: none;
        }

        .mobile{
            display: flex;
        }
    }
}

main{
    @include center(column, center, center, center);
    width: 100%;
    box-sizing: border-box;
    background-color: #777676;
}

article{
    max-width: 60rem;
    width: 100%;
    height: 100%;
    padding: 3rem;

    .container-article{
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .text p{
            @include title($fontText, 1.5rem, $black, center, 500, 0, 0);
        }

        .container-addres{
            @include center(row, center, flex-start , center);

            .item{
                width: 100%;
                font-family: $fontText;

                h3{ @include title($fontText, 1.3rem, $white, center, 500, 0, 0); }

                p{ @include title($fontText, .9rem, $white, center, 500, 0, 0); }
            }
        }

        .buttons{
            @include center(row, center, space-around, center, 10rem);
        
            button{
                &:nth-child(1){
                    @include black-button();
                }
        
                &:nth-child(2){
                    @include black-transparent();
                }
            }
        }
    }

    @media (max-width: 700px){

        .container-article .container-addres{
            flex-direction: column;
            gap: 1rem;
        }

        .container-article .buttons{
            @include center(column, center, center, center, 1rem);
        }
    }
}