@import "../../_VARIABLES/colors.scss";
@import "../../_VARIABLES/mixings.scss";

html{
    padding-bottom: 7rem;
    background-color: $newBg;
}

header{
    position: fixed;
    bottom: 1rem;

    width: 100%;
    height: 4rem;
    background-color: $new-bar;
    border-radius: 5rem;

    .container{
        position: absolute;
        width: 100%;
        height: 4rem;
        border-radius: 5rem;

        .itens{
            @include  center(row, space-around, center, center);
            width: 100%;
            height: 4rem;
            border-radius: 5rem;

            i{
                color: $white;
                padding: 1rem;
                border-radius: 50%;

                &.active{
                    background-color: $brown;
                }
            }
        }
    }
}

main{
    @include center();
    border: 2px solid red;
    height: 100vh;
    width: 100%;
}

.container-user{
    @include center(column, space-between, center, center, .1rem);
    width: 100%;

    .user{
        @include center(row, space-between, center, center);
        position: relative;
        padding-inline: 1rem;
        width: 100%;
        height: 5rem;
        background-color: $new-bar;

        .hover{
            @include center(column, center, center, center);
            position: absolute;
            top: 5rem;
            display: none;
        
            left: 0;
            background-color: $new-bar;
            z-index: 9999;
            padding: 1rem;

            .info{
                @include center(column, space-between, center, center, 1rem);

                button{
                    border: none;
                    background: transparent;
                    padding: 1rem;
                    position: absolute;
                    top: 0;
                    left: 0;
                    cursor: pointer;
                }
            }

            .container-slide{
                //position: relative;
                width: 80%;
                height:20vh;
                overflow: hidden;
            
                .container-item{
                    //position: absolute;
                    // overflow: hidden;
                    display: flex;
                    width: 100%;
                    height: 100%;

                    transition: transform 0.5s ease-in-out;
                    
                    .item{
                        flex: 0 0 100%; /* alterar caso adicione novas fotos) */
                        min-width: 100%;
                        height: 100%;

                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: .3rem;
                        }
                    }
                }
            }
        }

        .hover.active{
            display: block;
        }

        .img i{
            font-size: 3rem;
        }
    }
}


